name: Create Admin User

on:
  workflow_dispatch:

jobs:
  create-user:
    runs-on: ubuntu-latest
    steps:
      - name: Create Admin User via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.BACKEND_SERVER_USER }}
          password: ${{ secrets.BACKEND_SERVER_PASSWORD }}
          script: |
            # Register Admin User
            curl -v -X POST http://localhost:8085/api/auth/register \
              -H "Content-Type: application/json" \
              -d '{"name":"Admin User", "phone":"9876543210", "password":"admin123", "role":"ADMIN"}'
